# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

#忽略所有.svn目录
.svn/
#忽略所有target目录
target/
#忽略所有.idea目录

